In [ ]:
#data types
# 1. numeric
# a. integer:987, -67
# b. float: 6.70,-56.8
var_int=987
print(var_int)
type(var_int)
var_int_input=69.8+78.5
print(var_int_input)
type(var_int_input)

987
148.3

float

In [ ]:
# complex:76+8j
num1=76
num2=8j
vars=76+8j
print(vars)
type (vars)

(76+8j)

complex

In [ ]:
# string:
ab='alien', "python is programming language"
xy= """i am learning python"""
print(ab , xy )
type(ab)
type(xy)

('alien', 'python is programming language') i am learning python

str

In [ ]:
# boolean:
var_int=70>78
print(var_int)
type(var_int)

False

bool

In [ ]:
#sequence/collection:
age1=60
age2=50
age3=30
age4=20
ages=[60,50,30,20]
print(ages)
type(ages)

[60, 50, 30, 20]

list

In [ ]:
# tuples:
items1=(76,34,54,32,20)
items2=(87,45,34,65,76)
print(items1,items2)
type(items1)
type(items2)

(76, 34, 54, 32, 20) (87, 45, 34, 65, 76)

tuple

In [1]:
#convert from int to float:
x = float(1)
#convert from float to int:
y = int(2.8)
#convert from int to complex:
z = complex(1)
print(x)
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>